<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Plan</title>
</head>
<body>
    <h1>Create a New Plan!</h1>
    <form method="post" action="/Home/Page">

    <div>
        Origin: <input type="text" />
    </div>
    <div>
        Destination: <input type="text" />
    </div>
    <div>
        Start Date: <input type="text" />
    </div>
    <div>
        Return Date: <input type="text" />
    </div>
    <div>
        <h3>My Plan</h3>
    </div>
    <div>
        <textarea name = "plan"></textarea>
    </div>

    <div>
        <input type="submit" value="Save" />
    </div>

    </form>

</body>
</html>
