.login_register {
  width: 400px;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  border: 1px solid black;
  text-align: center;
}

form {
  margin-top: 20px;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}
.center {
  text-align: center;
}

.logout {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.logout:hover {
  color: paleturquoise;
}
